<html lang="es">
<head>
  <meta charset="utf-8">

  <title>Retrocompatibles · Top 40</title>
  <meta name="description" content="Top 40 de videojuegos">
  <meta name="author" content="@jslakro">
  <meta name="keywords" content="videogames, games, tops"/>
  <meta name="subject" content="videogames">
  <meta name="language" content="ES">
  <meta name="robots" content="index,follow" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <link rel="stylesheet" href="styles.css">
  <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16" />
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
  
<div class="wrapper">

	<header class="box">
    <div class="box-body">
		<picture>  
			<source media="(max-width: 680px)" srcset="images/banner_mobile.png">  
			<img class="banner" src="images/banner.png">
		</picture>
    </div>
	</header>

      
	<section class="columns wrap-collabsible">
		
		<div class="column box">
			<h2>Alex</h2>
			<div class="box-body">
				<image class="retro" src="images/alex.png"></image>
				<input id="collapsible2" class="toggle2" type="checkbox">
				<label for="collapsible2" class="lbl-toggle"><mark>more</mark></label>
				<div class="collapsible2-content">
				{{#Alex}}
					<div class="content-inner">
						<h4>• {{Juego}}</h4>
						<p>{{Descripcion}}</p>
						<div class="container__img-holder">
						<img class="game" src="{{Imagen}}"  />
						</div>
						<span><a href="{{Attribution.Source}}">By {{#getAuthor}}{{Attribution.Author}}{{/getAuthor}}</a></span>
					</div>
				{{/Alex}}
				</div>
			  </div>
		</div>
	  
		<div class="column box">
			<h2>Nico</h2>
			<div class="box-body">
				<image class="retro" src="images/nico.png"></image>
				<input id="collapsible3" class="toggle3" type="checkbox">
				<label for="collapsible3" class="lbl-toggle"><mark>more</mark></label>
				<div class="collapsible3-content">
				{{#Nico}}
					<div class="content-inner">
						<h4>• {{Juego}}</h4>
						<p>{{Descripcion}}</p>
						<div class="container__img-holder">
						<img class="game" src="{{Imagen}}"  />
						</div>
						<span><a href="{{Attribution.Source}}">By {{#getAuthor}}{{Attribution.Author}}{{/getAuthor}}</a></span>
					</div>
				{{/Nico}}
				</div>
			  </div>
		</div>
		
		<div class="column box">
			<h2>Pol</h2>
			<div class="box-body">
				<image class="retro" src="images/pol.png"></image>
				<input id="collapsible" class="toggle" type="checkbox">
				<label for="collapsible" class="lbl-toggle"><mark>more</mark></label>
				<div class=" collapsible-content">
				{{#Pol}}
					<div class="content-inner">
						<h4>• {{Juego}}</h4>
						<p>{{Descripcion}}</p>
						<div class="container__img-holder">
						<img class="game" src="{{Imagen}}"  />
						</div>
						<span><a href="{{Attribution.Source}}">By {{#getAuthor}}{{Attribution.Author}}{{/getAuthor}}</a></span>
					</div>
				{{/Pol}}
				</div>
			  </div>
		</div>
	</section>
	<footer class="box turquoise text-dark">
    
	{{#Todos}}
	<h2>{{Juego}}</h2>    
	<div class="box-body">
		<div class="content-inner">
		<p>{{Descripcion}}</p>
		<img src="{{Imagen}}"  />
		</div>
	</div>
	{{/Todos}}
	</footer>
</div>

<div class="img-popup">
  <img src="" alt="Popup Image">
  <div class="close-btn">
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  </div>
<script>
$(document).ready(function() {

  // required elements
  var imgPopup = $('.img-popup');
  var imgCont  = $('.container__img-holder');
  var popupImage = $('.img-popup img');
  var closeBtn = $('.close-btn');

  // handle events
  imgCont.on('click', function() {
    var img_src = $(this).children('img').attr('src');
    imgPopup.children('img').attr('src', img_src);
    imgPopup.addClass('opened');
  });

  $(imgPopup, closeBtn).on('click', function() {
    imgPopup.removeClass('opened');
    imgPopup.children('img').attr('src', '');
  });

  popupImage.on('click', function(e) {
    e.stopPropagation();
  });
});
</script>
</body>
</html>
