<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="style.css">

</head>

<body>
  
<div class="wrapper">

	<header class="box">
    <div class="box-body">
		<picture>  
			<source media="(max-width: 680px)" srcset="../data/banner_mobile.png">  
			<img class="banner" src="../data/banner.png">
		</picture>
    </div>
	</header>

      
	<section class="columns wrap-collabsible">
		
		<div class="column box">
			<h2>Alex</h2>
			<div class="box-body">
				<image src="../data/alex.png"></image>
				<input id="collapsible2" class="toggle2" type="checkbox">
				<label for="collapsible2" class="lbl-toggle"><mark>more</mark></label>
				<div class="collapsible2-content">
				{{#Alex}}
					<div class="content-inner">
						<h4>• {{Juego}}</h4>
						<p>{{Descripcion}}</p>
						<img src="{{Imagen}}"  />
					</div>
				{{/Alex}}
				</div>
			  </div>
		</div>
	  
		<div class="column box">
			<h2>Nico</h2>
			<div class="box-body">
				<image src="../data/nico.png"></image>
				<input id="collapsible3" class="toggle3" type="checkbox">
				<label for="collapsible3" class="lbl-toggle"><mark>more</mark></label>
				<div class="collapsible3-content">
				{{#Nico}}
					<div class="content-inner">
						<h4>• {{Juego}}</h4>
						<p>{{Descripcion}}</p>
						<img src="{{Imagen}}"  />
					</div>
				{{/Nico}}
				</div>
			  </div>
		</div>
		
		<div class="column box">
			<h2>Pol</h2>
			<div class="box-body">
				<image src="../data/pol.png"></image>
				<input id="collapsible" class="toggle" type="checkbox">
				<label for="collapsible" class="lbl-toggle"><mark>more</mark></label>
				<div class=" collapsible-content">
				{{#Pol}}
					<div class="content-inner">
						<h4>• {{Juego}}</h4>
						<p>{{Descripcion}}</p>
						<img src="{{Imagen}}"  />
					</div>
				{{/Pol}}
				</div>
			  </div>
		</div>
	</section>
	<footer class="box turquoise text-dark">
    
	{{#Todos}}
	<h2>{{Juego}}</h2>    
	<div class="box-body">
		
		<p>{{Descripcion}}</p>
		<img src="{{Imagen}}"  />
		
	</div>
	{{/Todos}}
	</footer>
</div>
</body>
</html>